body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
}
#header{
    position: fixed;
    color: white;
    font-weight: 800;
    font-size: 40px;
    top: 0px;
    user-select: none;
    height: 40px;
    text-align: left;
    z-index: 1;
    font-family: 'Orbitron', sans-serif;
}
#header a{
    color: white;
    font-weight: 800;
    font-size: 40px;
    text-decoration: none;


}
#spork{
  color: white;
  position: absolute;
  width: 60%;
  right: 20%;
  left: 20%;
  top: 50px;
}

  

  #subtext{
      font-size: 8px;
      padding: 0px;
      position: absolute;
      top: 34px;
      right: 20px;
  }

  #aboutmain{
      position: absolute;
      left: 25%;
      width: 50%;
      right: 25%;
      top: 100px;
      color: white;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      text-align: center;

  }