body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
}
#header{
    position: fixed;
    color: white;
    font-weight: 800;
    font-size: 40px;
    top: 0px;
    user-select: none;
    height: 40px;
    text-align: left;
    z-index: 1;
    font-family: 'Orbitron', sans-serif;
}
#header a{
    
    color: white;
    font-weight: 800;
    font-size: 40px;
    text-decoration: none;


}
#spork{
  color: white;
  position: absolute;
  width: 60%;
  right: 20%;
  left: 20%;
  top: 50px;
}
/* Dropdown Button */
.dropdiv {
    position: absolute;
    pointer-events: fill;
    user-select: none;
    right: 5px;
    border: 0px;
    padding: 0px;
    background-color: black;
    width: 40px;
    height: 45px;
    background-image: repeating-linear-gradient(180deg,
      transparent,
      transparent 5px,
      white 5px,
      white 10px);
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {

    position: fixed; right: 0px;
    top: 0px;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropctn {
      
    text-align: center;
    display: none;
    position: relative;
    right: 5px;
    top: 45px;
    background-color: #f1f1f1;
    min-width: 105px;
    z-index: 1;
    border-radius: 010px;
    
  }
  
  /* Links inside the dropdown */
  .dropctn a {
    font-family: 'Roboto', sans-serif;
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
  }
  
  .dropctn a:hover {background-color: #ddd; border-radius: 010px;}
  
  .dropdown:hover .dropctn {display: block;}
  
  .dropdown:hover .dropdiv {background-color: #322b2d}
  #subtext{
      font-size: 8px;
      padding: 0px;
      position: absolute;
      top: 34px;
      right: 20px;
  }

  #aboutmain{
      position: absolute;
      left: 25%;
      width: 50%;
      right: 25%;
      top: 100px;
      color: white;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      text-align: center;

  }