#top{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    font-weight: 800;
    width:100%;
}

#main {
    font-family: 'Roboto', sans-serif;
padding:10px;
text-align: center;
width: 100%




}
#breaker{
    width:75%;
    align-self: center;

}
body{
    background-color: #00d4ff;

}